name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install libcurl-dev
      run: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev
    - name: Install libgit2
      run: |
        curl -L https://codeload.github.com/libgit2/libgit2/tar.gz/refs/tags/v1.8.1 --output libgit2-1.8.1.tar.gz
        tar -xzf libgit2-1.8.1.tar.gz
        cd libgit2-1.8.1
        mkdir build && cd build
        sudo cmake .. -DCMAKE_INSTALL_PREFIX=/usr
        sudo cmake --build . --target install

    - name: Make all
      run: make all
    - name: Make formats
      run: make formats
    - name: Make install
      run: sudo make install

    - name: Make check
      run: sudo make check
